---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 15m
  url: https://prometheus-community.github.io/helm-charts

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 10m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 79.2.1
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
  values:
    alertmanager:
      enabled: false
    grafana:
      ingress:
        enabled: true
        hosts:
          - grafana.home
        ingressClassName: traefik
      persistence:
        enabled: true
        type: pvc
        storageClassName: nfs
        accessModes:
          - ReadWriteOnce
        size: 1Gi
    prometheus:
      prometheusSpec:
        additionalScrapeConfigs:
          - job_name: 'navidrome'
            metrics_path: /metrics
            scheme: http
            static_configs:
              - targets: ['navidrome.navidrome:4533']
