{{- range .Values.apps }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
spec:
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      app: {{ .name }}
  template:
    metadata:
      labels:
        app: {{ .name }}
    spec:
      {{- if .securityContext }}
      securityContext:
        {{- toYaml .securityContext | nindent 8 }}
      {{- end }}
      {{- if .initContainers }}
      {{- range .initContainers}}
      initContainers:
        - name: {{ .name }}
          image: {{ .image}}
          imagePullPolicy: {{ .imagePullPolicy | default "IfNotPresent" }}
          command:
            {{- toYaml .command | nindent 12}}
          {{- if .env }}
          env:
            {{- toYaml .env | nindent 12 }}
          {{- end }}
          {{- if .volumeMounts}}
          volumeMounts:
            {{- toYaml .volumeMounts | nindent 12 }}
          {{- end }}
          {{- if .resources }}
          resources:
            {{- toYaml .resources | nindent 12 }}
          {{- end }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ .name }}
          image: {{ .image }}
          imagePullPolicy: {{ .imagePullPolicy | default "IfNotPresent" }}
          {{- if .containerPort }}
          ports:
            - containerPort: {{ .containerPort }}
          {{- end }}
          {{- if .command }}
          command:
            {{- toYaml .command | nindent 12}}
          {{- end }}
          {{- if .podSecurityContext }}
          securityContext:
            {{- toYaml .podSecurityContext | nindent 12 }}
          {{- end }}
          {{- if .env }}
          env: 
            {{- toYaml .env | nindent 12 }}
          {{- end }}
          {{- if .volumeMounts}}
          volumeMounts:
            {{- toYaml .volumeMounts | nindent 12 }}
          {{- end }}
          {{- if .resources }}
          resources:
            {{- toYaml .resources | nindent 12 }}
          {{- end }}
      {{- if .volumes }}
      volumes:
        {{- toYaml .volumes | nindent 8 }}
      {{- end }}
{{- end }}
